<div class="token-input" >
    <div class="token-input-container" id="token-input"
         ng-attr-style="max-width: {{ containerWidth }}px">
        <div ng-repeat="item in getItems()" class="token-item">
            <div class="token" tabindex="{{ $index }}"
                 ng-click="tokenClick($event, item)"
                 ng-class="{ selected: isSelected(item) }">
                <div class="token-template" ng-bind-html="getItemName(item)"></div>
                <a class="token-remove" ng-show="isRemoveButton" ng-click="tokenRemove($event, $index)">×</a>
            </div>

        </div>
        <div class="token-item">
            <input auto-grow-input
                   ng-model="tokenInputValue"
                   ng-change="onInputValueChange(tokenInputValue)"
                   placeholder="{{ getItems().length === 0 ? placeholder : '' }}"
                   autocomplete="off"
                   ng-disabled="isDisabled">
        </div>
        <div class="loading" ng-show="loadingInProgress"></div>
    </div>
</div>